In [3]:
name = "Zaid kamil"
city = "Tirupati"
age = 34
pi = 3.1415
is_good = True

Python has 10 datatypes
- int (integer) -> for whole numbers
- float -> for real/scientific numbers
- complex -> for complex numbers
- bool (boolean) -> for True/False values
- none (Nonetype) -> for specifying no value
- str (String) -> for textual values
- list -> for storing arrays and sequences
- tuple -> for unchangeable arrays and sequences
- set -> for unqiue sequences
- dict -> for storing key value data

In [5]:
x = 5                                               # int
y = 1.5                                             # float
z = 10j                                             # complex
is_working = False                                  # bool
is_empty = None                                     # Nonetype
univ = "Mohan Babu University"                      # str
colors = ['red','pink','orange']                    # list
points = (1, 3, 14, 10)                             # tuple
names = {"yashwanth",'jyosthna','Ajay','Sandhya'}   # set
info = {                                            # dictionary
    "name" : "Zaid kamil",
    "designation" : "Training Manager",
    "dept": "CDC"
}

In [1]:
p = 10000
r = 3.5
t = 5
si = p * r * t / 100
si

1750.0

# 2 types of variable
1. Directly initialized
`x = 10`
2. Dynamically calculated 
`z = x * 10`

In [3]:
r = 8   # cm
pi = 3.14
circumference = 2 * pi * r
circumference

50.24

In [6]:
circumference

50.24

# operators
- Assignment operator
- Arithmetic operator
- Comparison operator
- logical operator
- bitwise operator
- membership operator

In [9]:
a = 10
b = 3

Assignment operators
`= += -= /= *= **= //=`

In [14]:
a = 10
b = a + 5
c = b - 10

a += 10
a

20

In [16]:
b -= 2
b

13

In [18]:
b - 10

3

In [ ]:
b = b - 10  # b -= 10
b

3

In [24]:
x = 1000 # assignment
x -= 500  # assingment
x *= 10
x /= 2
x

2500.0

In [27]:
z = 5

In [28]:
x = 1000 # assignment
x -= 500  # assingment
x *= 10
z /= 2
z

2.5

# arithmetic operator
- Add       `+`
- Sub       `-`
- Mul       `*`
- Div       `/`
- Int Div   `//`
- Exp       `**`
- Mod       `%`

In [1]:
a = 10
b = 3
a + b

13

In [2]:
a - b

7

In [3]:
a + b - a

3

In [8]:
a * b # multiplication

30

In [ ]:
a / b   # float division

3.3333333333333335

In [ ]:
a // b # quotient / int division

3

In [ ]:
a % b # remainder

1

In [10]:
a ** b # 10 power of 3 / Exponentiation

1000

# operator precedence
```
1 => ()
2 => **, *, /, //
3 => +, -
4 => =
```

In [14]:
2 + 10 / 2 * 5
# 2 + 5.0 * 5  step 1
# 2 + 25.0     step 2
# 27.0         step 3

27.0

In [16]:
x = (a + b) ** 2
x

169

In [21]:
per = 3
base = 4
hyp = (per**2 + base**2)**.5  # math.sqrt(per**2 + base**2) will also work
hyp

5.0

what will the value when x is 10 in 
`3x + 2(x-1)`

what will be the avg when we have these values
`2,4,5,6,1,2,5,6`

# comparison operator
`< <= > >= == !=`

In [2]:
x = 12
y = 23

In [4]:
x, y = 13, 24
a, b, c = 2, 4, 120

In [5]:
x > y # if x is greater than y -> False

False

In [8]:
x == 13

True

In [9]:
y >= 23

True

In [11]:
x != y # if x is not equal to y -> True

True

In [12]:
x < 15 < y

True

In [15]:
x = 100
1 < x < 100 # if x is in the range of 2 - 99

False

In [16]:
x = 100
1 <= x <= 100

True

### Logical operator
`AND OR NOT`

In [21]:
x < y and x > a # and is used to evaluate if both expressions are true

False

In [22]:
10 == 5 or 15 == 15 # or checks if any one of expression is true

True

In [23]:
a == 2 or b == 10

True

In [25]:
not a # convert true value to false and vice versa

False

In [28]:
not (a == 10) # invert the result

True