# Conditions
in python there are *4 conditional* statements
- `if`
- `if-else`
- `if-elif`
- `match case`

In [1]:
data = int(input("enter data value"))
print(f"value => {data}")

value => 200

In [6]:
print("You see an apple seller")
ans = input("DO u like apples 🍎")
if ans == "yes":
    print("Buy 2 Kg apples")
if ans == "no":
    print("You dont buy apple")

You see an apple seller

In [ ]:
salary = 42000
if salary > 50000:
    da = .15            # 15% dearness allowance
total = salary + salary * da        
print(f"total salary is {total}")

In [3]:
# solution 1 - create the da variable before condition
salary = 42000
da = 0
if salary > 50000:
    da = .15            # 15% dearness allowance
total = salary + salary * da        
print(f"total salary is {total}")

total salary is 42000

In [ ]:
# solution 2 - use if else
salary = 42000
if salary > 50000:
    da = .15            
    total = salary + salary * da
else:
    total = salary        
print(f"total salary is {total}")

In [ ]:
# solution 2 - use if else with their own print
salary = 42000
if salary > 50000:
    da = .15            
    total = salary + salary * da
    print(f"total salary is {total}")
else:
    total = salary        
    print(f"total salary is {total}")

In [ ]:
x =  int(input("Enter a number:"))
y = int(input("Enter second number:"))
if x > y:
    ans = x - y
else:
    ans = y - x
print(ans)

In [6]:
name = input("enter your fav movie")
if len(name) > 10:
    print(f"long movie name: {name}")
else:
    print(f"short movie name: {name}")
print("the end")

long movie name: Babubali the beginning
the end

### handling multiple conditions using `if-elif`

In [6]:
print("What is the capital of India?")
answer = input("Answer")
if answer == "Delhi":
    print("Your are correct")
if answer == "New Delhi":
    print("You are very correct")
if answer == "I dont know":
    print("U must be sleeping under a rock")
if answer == "Shimla":
    print("You must be from Britain")

What is the capital of India?

In [9]:
marks = int(input("enter your total marks in 10th:"))
if marks > 90:
    print("Your grade: A")
elif marks > 75:
    print("Your grade: B")
elif marks > 60:
    print("Your grade: C")
elif marks > 40:
    print("Your grade: D")
elif marks < 40:
    print("You failed ☠️")

Your grade: C

In [ ]:
# without elif
marks = int(input("enter your total marks in 10th:"))
if marks > 90 and marks <=100:
    print("Your grade: A")
if marks > 75 and marks <=90:
    print("Your grade: B")
if marks > 60 and marks <=75:
    print("Your grade: C")
if marks > 40 and marks <=60:
    print("Your grade: D")
if marks < 40:
    print("You failed ☠️")

In [11]:
# salary calculator
salary = int(input("Enter your frds salary:"))
if salary > 100000:
    total = salary - salary * .2 # frds tax 20%
elif salary > 80000:
    total = salary - salary * .1
elif salary > 50000: 
    total = salary - salary * .05
else: 
    total = salary + 10000
print(f'Frds Salary => {salary}')
print(f'Frds Total => {total}')

Frds Salary => 78870
Frds Total => 74926.5