### input in python
`input()` function is used for taking user input

In [7]:
name = input()

In [ ]:
name = input()

'hello'

In [12]:
name = input("enter name =>")
city = input("enter city =>")
addr = input("enter address =>")
print(name, city, addr)

Clark Smallville i dont know

In [22]:
# static
a = 10
b = 20
c = a + b
print(a, b, c)

10 20 30

In [21]:
# dynamic
a = input("Enter A:")
b = input("Enter B:")
c = a + b
print(a, b, c)

10 20 1020

In [25]:
# dynamic input -> typecasted
a = int(input("Enter A:"))
b = int(input("Enter B:"))
c = a + b
print(a, b, c)

10 20 30

In [26]:
radius = float(input("enter radius of circle"))
diameter = radius * 2
circumference = 2 * 3.14 * radius
area = 3.14 * radius ** 2

print(radius)
print(diameter)
print(circumference)
print(area)

5.5
11.0
34.54
94.985

In [ ]:
# simple interest
p = int(input("enter principle amount "))
r = float(input("enter rate of interest "))
t = int(input("enter time period in years "))
si = p*r*t/100
print(p)
print(r)
print(t)
print(si)

In [29]:
pi = 3.14
r = float(input("enter radius of cylinder:"))
h = float(input("height of cylinder:"))
v = pi*r**2*h # volume of cylinder
print(v)

180.06016000000002

# formatting the output

In [ ]:
print("this is an exampleðŸ“¦ðŸ“¦")    # displaying a message
print("one", "two", "three")        # display multiple data value
print("1", "2", "3", 4 + 5)         # displaying multiple data and expression
print(10 * 3 + 5)                   # displaying result of expression
print("apple", "banana", "oranges", sep="|||") # displaying multiple data with seperator
print("apple", "banana", "oranges")
print("ðŸ‘ðŸ”¥ðŸ™ðŸ‘ðŸ¤ºðŸ¤£ðŸ˜")

this is an exampleðŸ“¦ðŸ“¦
one two three
1 2 3 9
35
apple|||banana|||oranges
apple banana oranges
ðŸ‘ðŸ”¥ðŸ™ðŸ‘ðŸ¤ºðŸ¤£ðŸ˜

In [9]:
print(1,2,3,4,5)
print(1,2,3,4, sep="")
print(1,2,3,4,5,6, sep=',')
print(1,2,3,4,5,6, sep='âž¡ï¸')
print(1,2,3,4,5, sep="\n")
print(1,2,3,4,5, sep=" hello world ")

1 2 3 4 5
1234
1,2,3,4,5,6
1âž¡ï¸2âž¡ï¸3âž¡ï¸4âž¡ï¸5âž¡ï¸6
1
2
3
4
5
1 hello world 2 hello world 3 hello world 4 hello world 5

In [ ]:
a = 100
b = 30
c = a + b
print(c)
print("Answer "+str(c))
print("Answer", c)
print("Answer %d"%c)            # not the best way
print("%d + %d => %d"%(a,b,c))  # also very complicated
print("Answer {}".format(c))    # old way (before python 3.6)
print("{} + {} = {}".format(a,b,c)) # old way

130
Answer 130
Answer 130
Answer 130
100 + 30 => 130
Answer 130
100 + 30 = 130

#### final actual way to format output using f-strings

In [23]:
a = 100
b = 30
c = a + b
print(f"Answer {c}")
print(f"{a} + {b} = {c}") # f-string/formattable string

Answer 130
100 + 30 = 130

In [24]:
print(f'we get {c}, when we add {a} and {b}')

we get 130, when we add 100 and 30

In [26]:
name = "Sam"
job = "Spy"
company = "Echeleon"
print(f"My name is {name}, i work as a {job} in {company}")

My name is Sam, i work as a Spy in Echeleon

In [27]:
p = 20
b = 10
h = (p**2 + b**2)**.5
print("Calculation of hypotenuse")
print(f"Perpendicular => {p}")
print(f'Base => {b}')
print("Based on Pythagoras theorem:")
print(f"Hypotenuse => {h}")

Calculation of hypotenuse
Perpendicular => 20
Base => 10
Based on Pythagoras theorem:
Hypotenuse => 22.360679774997898