In [ ]:
movies = ["Harry Potter 1", "Harry Potter 2", "Harry Potter 3", 
          "Harry Potter 4", "Harry Potter 5", "Harry Potter 6",
          "Harry Potter 7", "Harry Potter 8", "Fast and Furious 1",
          "Fast and Furious 2","Fast and Furious 3",
          "Fast and Furious 4"]

movies_with_h = 0
for movie in movies:
    if movie.startswith("H") or movie.startswith("h"):
        # long way -> movies_with_h = movies_with_h + 1
        movies_with_h += 1 
print("Count",movies_with_h)

Count 1

In [13]:
# 5 -> 5 * 4 * 3 * 2 * 1 -> 120
# factorial
num = 10
fact = 1
# you can use a backward or forward loop
for i in range(num,0,-1):
    print(f'{i} * {fact}')
    fact = fact * i
print(fact)

10 * 1
9 * 10
8 * 90
7 * 720
6 * 5040
5 * 30240
4 * 151200
3 * 604800
2 * 1814400
1 * 3628800
3628800

### Nested loop
```
for loop:
    for loop:
        for loop:
            ...
```

In [ ]:
# Loops total 10*5 => 50 times
for i in range(1, 11):      # loops 10 times
    for j in range(1, 6):   # loops 5 times
        print(f"i = {i}, j = {j}")

In [ ]:
n = 6
for i in range(1, n):
    for j in range(1, n):
        print(j, end=' ')   # dont change line till inner loop
    print()                 # change line for the outer loop

In [18]:
n = 6
for i in range(1, n):
    for j in range(1, n):
        print(i, end=' ')  
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

### Jump statement
- continue - to skip a step 
- break - to stop the loop

**always used with a condition inside a loop**

In [ ]:
# skip every value divisible by 3
for i in range(1,25):
    if i%3==0:
        continue
    print(i, end=" ")

In [21]:
data = [1,2,0,3,3,0,1,2,0,5,6,7,2,0,2,1]
for i in data:
    if i == 0: 
        continue
    print(i, end=' ')

1 2 3 3 1 2 5 6 7 2 2 1

In [23]:
for i in range(1, 11):
    if i == 8:
        break
    print(i, end=" ")

1 2 3 4 5 6 7

In [24]:
# Add all values entered by user till he/she types 0
total = 0
print("enter 0 to stop the loop")
for i in range(100):
    value = int(input("enter a value"))
    if value == 0: 
        break
    total += value # add the value to total
print(f"Total = {total}")

enter 0 to stop the loop
Total = 908